Repository zsa/qmk_firmware, pull requests merged in 2024-08, with the labels that each got.

#395 workflow fixes
  .github/workflows/build.yml
  .gitignore
  builddefs/message.mk
  keyboards/zsa/ergodox_ez/keymaps/oryx/config.h
  keyboards/zsa/ergodox_ez/keymaps/oryx/keymap.c
  keyboards/zsa/ergodox_ez/m32u4/info.json
  keyboards/zsa/moonlander/keymaps/oryx/keymap.c
  keyboards/zsa/moonlander/keymaps/oryx/rules.mk
  keyboards/zsa/voyager/keymaps/oryx/keymap.c
  keyboards/zsa/voyager/keymaps/oryx/rules.mk
  keyboards/zsa/voyager/voyager.c
  platforms/avr/platform.mk
Labels: keyboard, keymap, core, CI

#396 fix: layer_state_set_user didn't trigger if VOYAGER_USER_LEDS was defined
  keyboards/zsa/voyager/voyager.c
Labels: keyboard

#397 Set Tapping Toggle to 1 for all boards
  keyboards/zsa/ergodox_ez/config.h
  keyboards/zsa/ergodox_ez/info.json
  keyboards/zsa/moonlander/keyboard.json
  keyboards/zsa/voyager/keyboard.json
Labels: keyboard

#400 Fix issues with Ergodox EZ Shine LEDs
  keyboards/zsa/ergodox_ez/info.json
  keyboards/zsa/ergodox_ez/m32u4/m32u4.c
  keyboards/zsa/ergodox_ez/post_config.h
  keyboards/zsa/ergodox_ez/post_rules.mk
  keyboards/zsa/ergodox_ez/rgblight_custom.c
Labels: keyboard

#401 Fix i2c timeouts
  drivers/gpio/mcp23018.c
  keyboards/zsa/ergodox_ez/ergodox_ez.h
  keyboards/zsa/ergodox_ez/post_config.h
  keyboards/zsa/moonlander/config.h
  keyboards/zsa/planck_ez/config.h
  keyboards/zsa/voyager/config.h
Labels: keyboard, core
