Repository zsa/qmk_firmware, pull requests merged in 2024-07, with the labels that each got.

#390 fix: restores layer lock functionality
  .gitignore
  builddefs/generic_features.mk
  data/constants/keycodes/keycodes_0.0.4.hjson
  data/constants/keycodes/keycodes_0.0.4_quantum.hjson
  data/mappings/info_config.hjson
  data/schemas/keyboard.jsonschema
  quantum/keyboard.c
  quantum/keycodes.h
  quantum/layer_lock.c
  quantum/layer_lock.h
  quantum/process_keycode/process_layer_lock.c
  quantum/process_keycode/process_layer_lock.h
  quantum/quantum.c
  quantum/quantum.h
  tests/test_common/keycode_table.cpp
Labels: core, dd

#391 fix: various configs
  .github/workflows/api.yml
  .github/workflows/auto_approve.yml
  .github/workflows/auto_tag.yml
  .github/workflows/build.yml
  .github/workflows/ci_build_major_branch.yml
  .github/workflows/ci_build_major_branch_keymap.yml
  .github/workflows/cli.yml
  .github/workflows/develop_update.yml
  .github/workflows/docs.yml
  .github/workflows/feature_branch_update.yml
  .github/workflows/format_push.yml
  .github/workflows/regen_push.yml
  .github/workflows/stale.yml
  data/mappings/keyboard_aliases.hjson
  keyboards/zsa/common/config.h
  keyboards/zsa/common/features.mk
  keyboards/zsa/common/oryx.c
  keyboards/zsa/common/oryx.h
  keyboards/zsa/ergodox_ez/post_config.h
  keyboards/zsa/ergodox_ez/post_rules.mk
  keyboards/zsa/ergodox_ez/rules.mk
  keyboards/zsa/moonlander/post_rules.mk
  keyboards/zsa/moonlander/rules.mk
  keyboards/zsa/planck_ez/post_rules.mk
  keyboards/zsa/planck_ez/rules.mk
  keyboards/zsa/voyager/post_rules.mk
  keyboards/zsa/voyager/rules.mk
Labels: keyboard, dd, CI

#392 LUFA: make send_report a boolean
  keyboards/zsa/common/oryx.c
  tmk_core/protocol/lufa/lufa.c
Labels: keyboard, core

#393 Fix voyager alias
  data/mappings/keyboard_aliases.hjson
Labels: dd

#394 voyager: disable newer animations
  keyboards/zsa/voyager/keyboard.json
Labels: keyboard
